hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-size: 1rem;
    font-weight: 400;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        justify-content: space-around;
        align-items:self-start;
        padding: 4em 0;
    }
    
    .rodape__titulo {
        font-size: 1.5rem;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: var(--cinza-claro);
        font-weight: 400;
    }

    .lista-rodape__item {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 1.2em 0;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
        font-weight: 700;
    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.5em;
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 1728px) {

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}